Repository antarctica/scar-add-metadata-toolbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, coverage, black, bandit, package, container, review

pytest:
  stage: 🧪 test
  variables:
    FLASK_ENV: testing
  script:
  - pytest -o junit_family=xunit2 --junitxml=test-results.xml --random-order
  needs: []
  artifacts:
    reports:
      junit: test-results.xml

coverage:
  stage: 🧪 test
  variables:
    FLASK_ENV: testing
  script:
  - pytest --cov=scar_add_metadata_toolbox --cov-fail-under=100 .
  after_script:
  - coverage html
  needs: []
  artifacts:
    paths:
    - htmlcov
    expire_in: 1 week
    when: always

black:
  stage: 🧪 test
  script:
  - black --check scar_add_metadata_toolbox/
  needs: []

bandit:
  stage: 🧪 test
  script:
  - bandit -r .
  needs: []

package:
  stage: 📦 package
  script:
  - poetry version $VERSION
  - poetry build
  needs:
  - job: pytest
  - job: black
  - job: bandit
  - job: version
    artifacts: true
  artifacts:
    paths:
    - dist
    expire_in: 1 month

container:
  stage: 🏗 build
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - if [ -z "$CI_COMMIT_TAG" ]; then export IMAGE_ALIAS="review:$CI_COMMIT_REF_SLUG"; else export IMAGE_ALIAS="release:$CI_COMMIT_TAG"; fi
  ...

review:
  stage: 🔍 review
  image:
    name: hashicorp/terraform:0.12.24
    entrypoint:
    - ''
  before_script:
  - cd provisioning/nomad-review-apps
  - export TF_VAR_job_name=$APP_NAME-ra-$CI_COMMIT_REF_SLUG
  - export TF_VAR_registry_image=$CI_REGISTRY_IMAGE/review:$CI_COMMIT_REF_SLUG
  ...

0.2.0 release
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Fixing PyCSW patching
  CHANGELOG.md
  Dockerfile
  support/docker-packaging/Dockerfile
Due: none

Fixing modifying collections file on class initialisation
  CHANGELOG.md
  scar_add_metadata_toolbox/classes.py
Due: pytest, coverage, black, bandit, package, container, review

Workaround issue with absolute dates in tests
  CHANGELOG.md
  tests/scar_add_metadata_toolbox/resources/csw/records/__init__.py
  tests/scar_add_metadata_toolbox/resources/csw/records/get_record_39d47e50-f94f-43c5-9060-510d9374b81b_full.xml
  tests/scar_add_metadata_toolbox/resources/csw/records/get_record_7e3719b4-60a4-4b4e-aa84-cee7a5e7218f_full.xml
Due: pytest, coverage, black, bandit

Fixing hard-coded static assets path
  CHANGELOG.md
  README.md
  scar_add_metadata_toolbox/commands.py
  tests/scar_add_metadata_toolbox/resources/csw/records/__init__.py
Due: pytest, coverage, black, bandit, package, container, review

Adding API usage documentation
  CHANGELOG.md
  README.md
  docs/api/usage.md
Due: none

Using API.BAS endpoints in podman environment configuration
  CHANGELOG.md
  provisioning/podman/dot.env.tmpl
Due: none

Tidying ip
  README.md
  add-metadata-toolbox.paw
Due: none

Adding IT setup/deployment instructions
  CHANGELOG.md
  README.md
Due: none

Documenting database sync between staging and production
  CHANGELOG.md
  README.md
Due: none

Fixing missing label for outdated items
  .gitlab-ci.yml
  CHANGELOG.md
  scar_add_metadata_toolbox/templates/_includes/items/additional-information.j2
  scar_add_metadata_toolbox/templates/_includes/items/summary-information.j2
Due: package, container, review

Fixing command line name in command reference docs
  .gitlab-ci.yml
  CHANGELOG.md
  docs/command-reference.md
Due: none

Fixing podman wrapper script image reference
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Upgrading to Metadata Library 0.3.1
  poetry.lock
  pyproject.toml
  scar_add_metadata_toolbox/classes.py
  scar_add_metadata_toolbox/hazmat/metadata.py
  tests/scar_add_metadata_toolbox/classes/__init__.py
  tests/scar_add_metadata_toolbox/resources/csw/records/get_record_39d47e50-f94f-43c5-9060-510d9374b81b_full.xml
  tests/scar_add_metadata_toolbox/resources/csw/records/get_record_7e3719b4-60a4-4b4e-aa84-cee7a5e7218f_full.xml
Due: pytest, coverage, black, bandit, package, container, review

Fixing Black code formatting
  CHANGELOG.md
  scar_add_metadata_toolbox/csw.py
  scar_add_metadata_toolbox/hazmat/metadata.py
  tests/scar_add_metadata_toolbox/classes/__init__.py
Due: pytest, coverage, black, bandit, package, container, review

Fixing Black code formatting
  scar_add_metadata_toolbox/hazmat/csw.py
Due: pytest, coverage, black, bandit, package, container, review

Re-raise a HTTP exception in CSW GetRecord calls
  CHANGELOG.md
  scar_add_metadata_toolbox/csw.py
Due: pytest, coverage, black, bandit, package, container, review

Fixing reference to S3 bucket environment variable
  CHANGELOG.md
  scar_add_metadata_toolbox/config.py
Due: pytest, coverage, black, bandit, package, container, review

Fixing site assets copy command
  CHANGELOG.md
  scar_add_metadata_toolbox/commands.py
Due: pytest, coverage, black, bandit, package, container, review

Removing unavailable Podman configuration options
  CHANGELOG.md
  provisioning/podman/dot.env.tmpl
Due: none

Fixing enabling Sentry in production environments
  CHANGELOG.md
  scar_add_metadata_toolbox/config.py
Due: pytest, coverage, black, bandit, package, container, review

Adding support for sub-antarctic bounding box
  CHANGELOG.md
  scar_add_metadata_toolbox/classes.py
Due: pytest, coverage, black, bandit, package, container, review

Ignoring private file
  .gitignore
Due: none

Minor fixes
  docker-compose.yml
  scar_add_metadata_toolbox/classes.py
  scar_add_metadata_toolbox/commands.py
  scar_add_metadata_toolbox/hazmat/metadata.py
Due: pytest, coverage, black, bandit, package, container, review

Adding instructions for accessing virtual environment
  README.md
Due: none

Preparing for release
  CHANGELOG.md
  add-metadata-toolbox.paw
Due: none

Fixing potential for invalid form submissions
  CHANGELOG.md
  scar_add_metadata_toolbox/static/js/feedback.js
  scar_add_metadata_toolbox/templates/_includes/items/contact.j2
  scar_add_metadata_toolbox/templates/_views/feedback.j2
Due: package, container, review

Fixing temporal extent end
  CHANGELOG.md
  scar_add_metadata_toolbox/classes.py
Due: pytest, coverage, black, bandit, package, container, review

Updating /Python dependencies via Poetry
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
  poetry.lock
  pyproject.toml
  support/docker-packaging/Dockerfile
  support/pycsw/patches/pycsw/plugins/profiles/apiso/apiso.py
Due: pytest, coverage, black, bandit, container, review

Updating Poetry
  CHANGELOG.md
  Dockerfile
Due: none

Path conditions:
  pytest: any of: **/*.py
  coverage: any of: **/*.py
  black: any of: **/*.py
  bandit: any of: **/*.py
  package: any of: scar_add_metadata_toolbox/**/*.*
  container: any of: scar_add_metadata_toolbox/**/*.*, support/docker-provisioning/**/*.*, support/pycsw/**/*.*
  review: any of: scar_add_metadata_toolbox/**/*.*, support/docker-provisioning/**/*.*, support/pycsw/**/*.*
